body {
  background-color: #ccc;
  margin: 0;
  font-family: FontRestaurant, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
}
