body {
  background-color: #ccc;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
}
.b-container{
  padding-left: 3%;
  padding-right: 3%;
}

.header-nav{
  width: 100%;
  min-height: 500px;
  background-image: url('Assets/img/Otros/simple-house-01.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: unsetc;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.navbar{
  padding: 30px 50px;
}
.header-nav .navbar .container{
  background-color: transparent;
  padding-left: 2.5%;
  padding-right: 3%;
}
#navbarSupportedContent .navbar-nav{
  background-color: transparent !important;
  width: 100%;
  justify-content: flex-end;
}
.navbar-brand{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navbar-brand .logo-header{
  margin: 0px 5px 0px 0px;
}
.navbar-brand .logo-title{
  color: #fff;
}

.navbar-brand .logo-title h1{
  font-size: 2rem;
  font-weight: 400;
}
.navbar-brand .logo-title p{
  margin: 0;
}

.navbar .nav-link{
  color: #fff;
  font-size: 17px;
  border-bottom: 1px solid transparent;
}
.navbar .nav-link:hover{
  border-bottom: 1px solid #fff;
}
.navbar .nav-item{
  padding-left: 5%;
}

.btn-group{
  border-radius: 0;
  padding: 10px 30px;
  background-color: #fff;
  border-color: #2F956D;
  color: #2F956D;
}
.btn-group:hover{
  background-color: #2F956D;
  color: #fff;
}
.select-buttom{
  background-color: #2F956D;
  color: #fff;
}
.bg-readmore{
  background-color: #fff;
  border-color: #ccc;
  color: #626364;
  border-radius: 0px;
  font-size:16px ;
  padding: 10px 30px;
}
.bg-readmore:hover{
  cursor: pointer;
  background-color: #626364;
  color: #fff;
}
.body-readme{
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
}
.body-readme .b-button-readme {
  align-self: flex-end;
}
.copyright{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
  color: #626364;
  font-size: 17px;
  line-height: 1.8;
}
.color-grey{
  color: #626364;
}
.color-azul{
  color: #1A6692;
}
.card-food h5{
  font-weight: 400;
  color: #1A6692;
}
.card-food p{
  color: #626364;
}
.card-food .precio{
  color: #2F956D;
}
.card-img-top{
  width: 100%;
  max-width: 250px;
  height: 250px;
}
.networks-social{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.network{
  width: 40px;
  text-align: center;
}
.network a{
  width: 100%;
  font-size: 1.3rem;
  color: #6c757d;
}
.card{
  border: none;
}
.ventana-about{
  height: 220px;
  background-image: url('Assets/img/About/about-05.jpg');
  background-position: center;
  background-attachment: fixed;
}
.color-icon-about{
  color: #808B96;
}
.mapcontact{
  width: 100%;
}
.map{
  width: 80%;
  height: 450px;
}